@media (max-width: 520px){
    body{background: #fafafa;}
    header{
    top: 0;
    margin: 0 0 15px 0;
    padding: 5px 0;
    text-align: center;
    }
    main .login-form{
    width: 60vw;
    height: 45vh;
    margin: 14vh auto;
    }
    h1{
        font-size: 1.3rem;
    }
    h3{
    padding: 7px 0;
    font-size: 1.07rem;
    }
    input{
    padding-left: 6px;
    }
    .input-eml input,.input-psw,button{
    height: 5vh;
    width: 50vw;
   }
    .input-psw input{
    height: 4.6vh;
    width: 38vw;
   }
    .input-psw span{
    padding: 12px 10px;
    cursor: pointer;
  }
   #logmessage{
    width: 48vw;
    font-size: 14px;
    padding: 2px 2px;
   }
    p.register-link{
        font-size: 12px
        display: block;
        margin: 8px 12px;
        flex-direction: column;
    }
   footer{
    bottom: 0;
    position: absolute;    
   }
}
